	grid-item {
			text-align:	center;
			vertical-align:	center;
			margin-bottom: 10px;
			padding-left: 1px;
			padding-right: 1px;
			float:	left;
			border-style: outset;
			border:outset 5px #ccc;
			border-radius:10px;
			width:50%;
	}
	grid-dual {
			text-align:	center;
			vertical-align:	center;
			margin-bottom: 10px;
			padding-left: 1px;
			padding-right: 1px;
			float:	left;
			border-style: outset;
			border:outset 5px #ccc;
			border-radius:10px;
			width:50%;
	}
	grid-Pokedex {
			text-align:	center;
			vertical-align:	center;
			margin-bottom: 10px;
			padding-left: 1px;
			padding-right: 1px;
			float:	left;
			border-style: outset;
			border:outset 5px #ccc;
			border-radius:10px;
			width:16%;
	}
	@media screen and (max-width:1151px) {
		grid-Pokedex {
			width:20%;
		}
	}
	@media screen and (max-width:1023px) {
		grid-Pokedex {
			width:25%;
		}
	}
	@media screen and (max-width:719px) {
		grid-Pokedex {
			width:33%;
		}
	}
	@media screen and (max-width:576px) {
		grid-dual {
			width:100%;
		}
	}
	@media screen and (max-width:480px) {
		grid-Pokedex {
			width:50%;
		}
	}
